.createGoodReceipt {
  background: url("https://i.pinimg.com/originals/a8/ea/21/a8ea21b0bf82f9d19e61aac5ef4dd1a7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
