.productCreate {
	background: url("https://alanellisconstruction.com/files/2019/12/Metal_Picture_for_Website_1.jpg?&a=t");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.productUpdate {
	background: url("https://essentialsiteskills.co.uk/storage/app/media/shutterstock_723993466.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
