.draftOrderCreate {
	background: url("https://static.timesofisrael.com/www/uploads/2017/12/managers.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.draftOrderToPending {
	background: url("https://essentialsiteskills.co.uk/storage/app/media/shutterstock_723993466.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
