/* .TermsAndCondtionBackground {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1667219830/ROTOMIX_ALTA_fp65vp.jpg");
	background-size: cover;
	background-position: center;
} */
